# Starting with population dataset

In [1]:
import pandas as pd
df = pd.read_csv("data/population.csv",sep=",")

In [2]:
df.head()

,Year,District.Code,District.Name,Neighborhood.Code,Neighborhood.Name,Gender,Age,Number
0,2017,1,Ciutat Vella,1,el Raval,Male,0-4,224
1,2017,1,Ciutat Vella,2,el Barri Gòtic,Male,0-4,50
2,2017,1,Ciutat Vella,3,la Barceloneta,Male,0-4,43
3,2017,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Male,0-4,95
4,2017,2,Eixample,5,el Fort Pienc,Male,0-4,124

## Cleaning 2018 data with functions in order to adding this data and for 2019

In [7]:
df18 = pd.read_csv("data/2018_ine_edat_any_a_any_per_sexe.csv")

In [8]:
df18.head()

,Any,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Sexe,Edat any a any,Nombre
0,2018,1,Ciutat Vella,1,el Raval,Home,0 anys,262
1,2018,1,Ciutat Vella,2,el Barri Gòtic,Home,0 anys,53
2,2018,1,Ciutat Vella,3,la Barceloneta,Home,0 anys,42
3,2018,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Home,0 anys,81
4,2018,2,Eixample,5,el Fort Pienc,Home,0 anys,115

In [9]:
# Changing titles
df18.columns = df.columns
df18.columns

Index(['Year', 'District.Code', 'District.Name', 'Neighborhood.Code',
       'Neighborhood.Name', 'Gender', 'Age', 'Number'],
      dtype='object')

In [34]:
# Concating the datasets
df2 = pd.concat([df18,df],ignore_index=True)

In [35]:
df2.head(-5)

,Year,District.Code,District.Name,Neighborhood.Code,Neighborhood.Name,Gender,Age,Number
0,2018,1,Ciutat Vella,1,el Raval,Home,0 anys,262
1,2018,1,Ciutat Vella,2,el Barri Gòtic,Home,0 anys,53
2,2018,1,Ciutat Vella,3,la Barceloneta,Home,0 anys,42
3,2018,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Home,0 anys,81
4,2018,2,Eixample,5,el Fort Pienc,Home,0 anys,115
...,...,...,...,...,...,...,...,...
84670,2013,10,Sant Martí,64,el Camp de l'Arpa del Clot,Female,>=95,91
84671,2013,10,Sant Martí,65,el Clot,Female,>=95,36
84672,2013,10,Sant Martí,66,el Parc i la Llacuna del Poblenou,Female,>=95,18
84673,2013,10,Sant Martí,67,la Vila Olímpica del Poblenou,Female,>=95,9
84674,2013,10,Sant Martí,68,el Poblenou,Female,>=95,48

In [18]:
# Different Age values
df2["Age"].unique()

array(['0 anys', '1 any', '2 anys', '3 anys', '4 anys', '5 anys',
       '6 anys', '7 anys', '8 anys', '9 anys', '10 anys', '11 anys',
       '12 anys', '13 anys', '14 anys', '15 anys', '16 anys', '17 anys',
       '18 anys', '19 anys', '20 anys', '21 anys', '22 anys', '23 anys',
       '24 anys', '25 anys', '26 anys', '27 anys', '28 anys', '29 anys',
       '30 anys', '31 anys', '32 anys', '33 anys', '34 anys', '35 anys',
       '36 anys', '37 anys', '38 anys', '39 anys', '40 anys', '41 anys',
       '42 anys', '43 anys', '44 anys', '45 anys', '46 anys', '47 anys',
       '48 anys', '49 anys', '50 anys', '51 anys', '52 anys', '53 anys',
       '54 anys', '55 anys', '56 anys', '57 anys', '58 anys', '59 anys',
       '60 anys', '61 anys', '62 anys', '63 anys', '64 anys', '65 anys',
       '66 anys', '67 anys', '68 anys', '69 anys', '70 anys', '71 anys',
       '72 anys', '73 anys', '74 anys', '75 anys', '76 anys', '77 anys',
       '78 anys', '79 anys', '80 anys', '81 anys', '82 anys', '83 anys',
       '84 anys', '85 anys', '86 anys', '87 anys', '88 anys', '89 anys',
       '90 anys', '91 anys', '92 anys', '93 anys', '94 anys', '95 anys',
       '96 anys', '97 anys', '98 anys', '99 anys i més', '0-4', '5-9',
       '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40-44',
       '45-49', '50-54', '55-59', '60-64', '65-69', '70-74', '75-79',
       '80-84', '85-89', '90-94', '>=95'], dtype=object)

In [24]:
df2["Gender"].unique()

array(['Home', 'Dona', 'Male', 'Female'], dtype=object)

In [ ]:
# Some variables for Functions
grupos = df["Age"].unique()
listado = df18["Age"].unique()

In [46]:
# FUNCTIONS 

def year_int(age):
    return int(age.split(" ")[0])

def year_group(age):
    if age not in grupos:
        for i in listado:
            if i==age:
                return grupos[year_int(i)//5]
    else:
        return age

def gender(gen):
    if gen=="Home" or gen=="Homes":
        return "Male"
    elif gen=="Dona" or gen=="Dones":
        return "Female"
    else:
        return gen

In [39]:
# Applying functions to clean dataset
df2["Age"] = df2["Age"].apply(year_group)
df2["Gender"] = df2["Gender"].apply(gender)

In [42]:
df2.head(-5)

,Year,District.Code,District.Name,Neighborhood.Code,Neighborhood.Name,Gender,Age,Number
0,2018,1,Ciutat Vella,1,el Raval,Male,0-4,262
1,2018,1,Ciutat Vella,2,el Barri Gòtic,Male,0-4,53
2,2018,1,Ciutat Vella,3,la Barceloneta,Male,0-4,42
3,2018,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Male,0-4,81
4,2018,2,Eixample,5,el Fort Pienc,Male,0-4,115
...,...,...,...,...,...,...,...,...
84670,2013,10,Sant Martí,64,el Camp de l'Arpa del Clot,Female,>=95,91
84671,2013,10,Sant Martí,65,el Clot,Female,>=95,36
84672,2013,10,Sant Martí,66,el Parc i la Llacuna del Poblenou,Female,>=95,18
84673,2013,10,Sant Martí,67,la Vila Olímpica del Poblenou,Female,>=95,9
84674,2013,10,Sant Martí,68,el Poblenou,Female,>=95,48

## Now with 2019 dataset

In [54]:
df19 = pd.read_csv("data/2019_ine_edat_any_a_any_per_sexe-.csv")
df19.columns = df2.columns

In [55]:
df3 = pd.concat([df19,df2],ignore_index=True)

In [56]:
df3["Age"] = df3["Age"].apply(year_group)
df3["Gender"] = df3["Gender"].apply(gender)

In [57]:
df3.head(-5)

,Year,District.Code,District.Name,Neighborhood.Code,Neighborhood.Name,Gender,Age,Number
0,2019,1,Ciutat Vella,1,el Raval,Female,0-4,206
1,2019,1,Ciutat Vella,2,el Barri Gòtic,Female,0-4,50
2,2019,1,Ciutat Vella,3,la Barceloneta,Female,0-4,38
3,2019,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Female,0-4,67
4,2019,2,Eixample,5,el Fort Pienc,Female,0-4,136
...,...,...,...,...,...,...,...,...
99270,2013,10,Sant Martí,64,el Camp de l'Arpa del Clot,Female,>=95,91
99271,2013,10,Sant Martí,65,el Clot,Female,>=95,36
99272,2013,10,Sant Martí,66,el Parc i la Llacuna del Poblenou,Female,>=95,18
99273,2013,10,Sant Martí,67,la Vila Olímpica del Poblenou,Female,>=95,9
99274,2013,10,Sant Martí,68,el Poblenou,Female,>=95,48

# Population Dataset completed

In [61]:
df3.to_csv("data/population_complete.csv",index=False)

# Unemployment Dataset

In [23]:
df = pd.read_csv("data/unemployment.csv", sep=",")

In [38]:
df.head(-5)

,Year,Month,District Code,District Name,Neighborhood Code,Neighborhood Name,Gender,Demand_occupation,Number
0,2017,January,1,Ciutat Vella,1,el Raval,Male,Registered unemployed,2107
1,2017,January,1,Ciutat Vella,2,el Barri Gòtic,Male,Registered unemployed,538
2,2017,January,1,Ciutat Vella,3,la Barceloneta,Male,Registered unemployed,537
3,2017,January,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Male,Registered unemployed,741
4,2017,January,2,Eixample,5,el Fort Pienc,Male,Registered unemployed,630
...,...,...,...,...,...,...,...,...,...
14198,2013,December,10,Sant Martí,65,el Clot,Female,Registered unemployed,956
14199,2013,December,10,Sant Martí,66,el Parc i la Llacuna del Poblenou,Female,Registered unemployed,476
14200,2013,December,10,Sant Martí,67,la Vila Olímpica del Poblenou,Female,Registered unemployed,314
14201,2013,December,10,Sant Martí,68,el Poblenou,Female,Registered unemployed,1081
14202,2013,December,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,Female,Registered unemployed,458

## Cleaning 2018 data with functions in order to adding this data and for 2019,2020 and 2021

In [39]:
df18 = pd.read_csv("data/2018_Atur_per_sexe.csv",sep=",")
df18.columns = df.columns

In [40]:
df18.head(-5)

,Year,Month,District Code,District Name,Neighborhood Code,Neighborhood Name,Gender,Demand_occupation,Number
0,2018,1,1,Ciutat Vella,1,el Raval,Homes,Atur registrat,2026
1,2018,1,1,Ciutat Vella,2,el Barri Gòtic,Homes,Atur registrat,493
2,2018,1,1,Ciutat Vella,3,la Barceloneta,Homes,Atur registrat,547
3,2018,1,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Homes,Atur registrat,751
4,2018,1,2,Eixample,5,el Fort Pienc,Homes,Atur registrat,584
...,...,...,...,...,...,...,...,...,...
3542,2018,12,10,Sant Martí,65,el Clot,Dones,Demanda no aturats,167
3543,2018,12,10,Sant Martí,66,el Parc i la Llacuna del Poblenou,Dones,Demanda no aturats,78
3544,2018,12,10,Sant Martí,67,la Vila Olímpica del Poblenou,Dones,Demanda no aturats,49
3545,2018,12,10,Sant Martí,68,el Poblenou,Dones,Demanda no aturats,171
3546,2018,12,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,Dones,Demanda no aturats,74

In [41]:
df["Demand_occupation"].unique(), df18["Demand_occupation"].unique(), df["Month"].unique()

(array(['Registered unemployed', 'Unemployment demand'], dtype=object),
 array(['Atur registrat', 'Demanda no aturats'], dtype=object),
 array(['January', 'February', 'March', 'April', 'May', 'June', 'July',
        'August', 'September', 'October', 'November', 'December'],
       dtype=object))

In [42]:
# Some variables for Functions
reg = df["Demand_occupation"].unique()
months = df["Month"].unique()

In [43]:
# FUNCTIONS FOR UNEMPLOYMENT DATASET

def titles(new_dataframe, origin_dataframe):
    new_dataframe.columns = origin_dataframe.columns

def concat_un(new_dataframe, origin_dataframe):
    titles(new_dataframe, origin_dataframe)
    return pd.concat([new_dataframe,origin_dataframe], ignore_index=True)
    
def demand(status):
    if status.lower() == "atur registrat":
        status = reg[0]
    elif status.lower() == "demanda no aturats":
        status = reg[1]
    return status

def month(number):
    if number not in months:
        number = months[number-1]
    return number

In [44]:
# Reading new datasets
df19 = pd.read_csv("data/2019_Atur_per_sexe.csv",sep=",")
df20 = pd.read_csv("data/2020_Atur_per_sexe.csv",sep=",")
df21 = pd.read_csv("data/2021_Atur_per_sexe.csv",sep=",")

In [47]:
# Applying functions to concat datasets and cleaning
df_un = concat_un(df18,df)
df_un = concat_un(df19,df_un)
df_un = concat_un(df20,df_un)
df_un = concat_un(df21,df_un)

df_un["Demand_occupation"] = df_un["Demand_occupation"].apply(demand)
df_un["Gender"] = df_un["Gender"].apply(gender)
df_un["Month"] = df_un["Month"].apply(month)

In [48]:
df_un.head(-5)

,Year,Month,District Code,District Name,Neighborhood Code,Neighborhood Name,Gender,Demand_occupation,Number
0,2021,January,1,Ciutat Vella,1,el Raval,Female,Registered unemployed,2139
1,2021,January,1,Ciutat Vella,2,el Barri Gòtic,Female,Registered unemployed,673
2,2021,January,1,Ciutat Vella,3,la Barceloneta,Female,Registered unemployed,722
3,2021,January,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Female,Registered unemployed,995
4,2021,January,2,Eixample,5,el Fort Pienc,Female,Registered unemployed,896
...,...,...,...,...,...,...,...,...,...
26630,2013,December,10,Sant Martí,65,el Clot,Female,Registered unemployed,956
26631,2013,December,10,Sant Martí,66,el Parc i la Llacuna del Poblenou,Female,Registered unemployed,476
26632,2013,December,10,Sant Martí,67,la Vila Olímpica del Poblenou,Female,Registered unemployed,314
26633,2013,December,10,Sant Martí,68,el Poblenou,Female,Registered unemployed,1081
26634,2013,December,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,Female,Registered unemployed,458

In [49]:
df_un.to_csv("data/unemployed_complete.csv",index=False)

In [117]:
df_un["Demand_occupation"].unique()

array(['Registered unemployed', 'Unemployment demand'], dtype=object)

In [134]:
pd.set_option('display.max_rows', 500)
df_un[df_un["Year"]==2021].groupby(["District Name","Neighborhood Name","Demand_occupation"])["Number"].sum()

District Name        Neighborhood Name                             Demand_occupation
Ciutat Vella         Sant Pere, Santa Caterina i la Ribera         Registered unemployed    11685
                                                                   Unemployment demand      14080
                     el Barri Gòtic                                Registered unemployed     8348
                                                                   Unemployment demand       9425
                     el Raval                                      Registered unemployed    30587
                                                                   Unemployment demand      46507
                     la Barceloneta                                Registered unemployed     8488
                                                                   Unemployment demand      10083
Eixample             Sant Antoni                                   Registered unemployed    12443
                                                                   Unemployment demand      20298
                     el Fort Pienc                                 Registered unemployed     9731
                                                                   Unemployment demand      15529
                     l'Antiga Esquerra de l'Eixample               Registered unemployed    11323
                                                                   Unemployment demand      18869
                     la Dreta de l'Eixample                        Registered unemployed    10922
                                                                   Unemployment demand      16915
                     la Nova Esquerra de l'Eixample                Registered unemployed    16542
                                                                   Unemployment demand      28022
                     la Sagrada Família                            Registered unemployed    15321
                                                                   Unemployment demand      25830
Gràcia               Vallcarca i els Penitents                     Registered unemployed     4787
                                                                   Unemployment demand       7948
                     el Camp d'en Grassot i Gràcia Nova            Registered unemployed     9866
                                                                   Unemployment demand      16960
                     el Coll                                       Registered unemployed     2000
                                                                   Unemployment demand       3380
                     la Salut                                      Registered unemployed     4022
                                                                   Unemployment demand       6715
                     la Vila de Gràcia                             Registered unemployed    15467
                                                                   Unemployment demand      25628
Horta-Guinardó       Can Baró                                      Registered unemployed     2882
                                                                   Unemployment demand       4804
                     Horta                                         Registered unemployed    10696
                                                                   Unemployment demand      15754
                     Montbau                                       Registered unemployed     1759
                                                                   Unemployment demand       2618
                     Sant Genís dels Agudells                      Registered unemployed     2432
                                                                   Unemployment demand       3619
                     el Baix Guinardó                              Registered unemployed     7580
                                                                   Unemployment demand      13125
                     el Carmel                                     Registered unemployed    12576
                                                                   Unemployment demand      19124
                     el Guinardó                                   Registered unemployed    12017
                                                                   Unemployment demand      19337
                     la Clota                                      Registered unemployed      130
                                                                   Unemployment demand        195
                     la Font d'en Fargues                          Registered unemployed     3686
                                                                   Unemployment demand       5590
                     la Teixonera                                  Registered unemployed     3975
                                                                   Unemployment demand       5942
                     la Vall d'Hebron                              Registered unemployed     1876
                                                                   Unemployment demand       2791
Les Corts            Pedralbes                                     Registered unemployed     1583
                                                                   Unemployment demand       2673
                     la Maternitat i Sant Ramon                    Registered unemployed     6548
                                                                   Unemployment demand      11437
                     les Corts                                     Registered unemployed    12915
                                                                   Unemployment demand      22294
No consta            No consta                                     Registered unemployed      762
                                                                   Unemployment demand       2307
Nou Barris           Can Peguera                                   Registered unemployed      868
                                                                   Unemployment demand       1223
                     Canyelles                                     Registered unemployed     3376
                                                                   Unemployment demand       4421
                     Ciutat Meridiana                              Registered unemployed     7241
                                                                   Unemployment demand       7377
                     Porta                                         Registered unemployed     9707
                                                                   Unemployment demand      14757
                     Torre Baró                                    Registered unemployed     1386
                                                                   Unemployment demand       1414
                     Vallbona                                      Registered unemployed      842
                                                                   Unemployment demand        856
                     Verdun                                        Registered unemployed     5611
                                                                   Unemployment demand       7350
                     Vilapicina i la Torre Llobeta                 Registered unemployed     9988
                                                                   Unemployment demand      14902
                     el Turó de la Peira                           Registered unemployed     6252
                                                                   Unemployment demand       9120
                     la Guineueta                                  Registered unemployed     6919
                                                                   Unemployment demand       9062
                     la Prosperitat                                Registered unemployed    10902
                                                                   Unemployment demand      16577
                     la Trinitat Nova                              Registered unemployed     5007
                                                                   Unemployment demand       5225
                     les Roquetes                                  Registered unemployed     7321
                                                                   Unemployment demand       9588
Sant Andreu          Baró de Viver                                 Registered unemployed      859
                                                                   Unemployment demand       1442
                     Navas                                         Registered unemployed     7055
                                                                   Unemployment demand      11934
                     Sant Andreu                                   Registered unemployed    19746
                                                                   Unemployment demand      33167
                     el Bon Pastor                                 Registered unemployed     4877
                                                                   Unemployment demand       8193
                     el Congrés i els Indians                      Registered unemployed     4572
                                                                   Unemployment demand       7768
                     la Sagrera                                    Registered unemployed     9394
                                                                   Unemployment demand      15955
                     la Trinitat Vella                             Registered unemployed     6712
                                                                   Unemployment demand       6835
Sant Martí           Diagonal Mar i el Front Marítim del Poblenou  Registered unemployed     5098
                                                                   Unemployment demand       6441
                     Provençals del Poblenou                       Registered unemployed     7362
                                                                   Unemployment demand      10968
                     Sant Martí de Provençals                      Registered unemployed     9938
                                                                   Unemployment demand      15324
                     el Besòs i el Maresme                         Registered unemployed    11633
                                                                   Unemployment demand      14728
                     el Camp de l'Arpa del Clot                    Registered unemployed    13566
                                                                   Unemployment demand      21622
                     el Clot                                       Registered unemployed     9337
                                                                   Unemployment demand      14719
                     el Parc i la Llacuna del Poblenou             Registered unemployed     4582
                                                                   Unemployment demand       7057
                     el Poblenou                                   Registered unemployed    10544
                                                                   Unemployment demand      15686
                     la Verneda i la Pau                           Registered unemployed    11225
                                                                   Unemployment demand      17297
                     la Vila Olímpica del Poblenou                 Registered unemployed     3071
                                                                   Unemployment demand       4539
Sants-Montjuïc       Hostafrancs                                   Registered unemployed     5449
                                                                   Unemployment demand       8997
                     Sants                                         Registered unemployed    12849
                                                                   Unemployment demand      21780
                     Sants - Badal                                 Registered unemployed     6623
                                                                   Unemployment demand      11569
                     el Poble Sec                                  Registered unemployed    18014
                                                                   Unemployment demand      24883
                     la Bordeta                                    Registered unemployed     6394
                                                                   Unemployment demand      10557
                     la Font de la Guatlla                         Registered unemployed     4534
                                                                   Unemployment demand       6277
                     la Marina de Port                             Registered unemployed    13289
                                                                   Unemployment demand      19021
                     la Marina del Prat Vermell                    Registered unemployed      850
                                                                   Unemployment demand       1082
Sarrià-Sant Gervasi  Sant Gervasi - Galvany                        Registered unemployed     8181
                                                                   Unemployment demand      14246
                     Sant Gervasi - la Bonanova                    Registered unemployed     4417
                                                                   Unemployment demand       7729
                     Sarrià                                        Registered unemployed     3572
                                                                   Unemployment demand       5705
                     Vallvidrera, el Tibidabo i les Planes         Registered unemployed      740
                                                                   Unemployment demand       1068
                     el Putxet i el Farró                          Registered unemployed     7294
                                                                   Unemployment demand      12703
                     les Tres Torres                               Registered unemployed     2859
                                                                   Unemployment demand       4174
Name: Number, dtype: int64

In [147]:
df_un[(df_un["Year"]==2021)|(df_un["Year"]==2020)][(df_un["Month"]=="January") | (df_un["Month"]=="December")][df_un["Neighborhood Name"]=="el Raval"]

<ipython-input-147-f1a28a5a3723>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_un[(df_un["Year"]==2021)|(df_un["Year"]==2020)][(df_un["Month"]=="January") | (df_un["Month"]=="December")][df_un["Neighborhood Name"]=="el Raval"]

,Year,Month,District Code,District Name,Neighborhood Code,Neighborhood Name,Gender,Demand_occupation,Number
0,2021,January,1,Ciutat Vella,1,el Raval,Female,Registered unemployed,2139
74,2021,January,1,Ciutat Vella,1,el Raval,Female,Unemployment demand,3272
148,2021,January,1,Ciutat Vella,1,el Raval,Male,Registered unemployed,3040
222,2021,January,1,Ciutat Vella,1,el Raval,Male,Unemployment demand,5175
1776,2020,January,1,Ciutat Vella,1,el Raval,Male,Registered unemployed,1724
1850,2020,January,1,Ciutat Vella,1,el Raval,Male,Unemployment demand,438
1924,2020,January,1,Ciutat Vella,1,el Raval,Female,Registered unemployed,1342
1998,2020,January,1,Ciutat Vella,1,el Raval,Female,Unemployment demand,320
5032,2020,December,1,Ciutat Vella,1,el Raval,Male,Registered unemployed,2971
5106,2020,December,1,Ciutat Vella,1,el Raval,Male,Unemployment demand,5181
5180,2020,December,1,Ciutat Vella,1,el Raval,Female,Registered unemployed,2075
5254,2020,December,1,Ciutat Vella,1,el Raval,Female,Unemployment demand,3279

In [1]:
df_un.head()

NameError: name 'df_un' is not defined